<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>newUi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Italic-VariableFont_wght.ttf</string>
		<string>Montserrat-VariableFont_wght.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>NicoMoji-Regular.ttf</string>
		<string>nicomoji-plus_v0.9.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>Urbanist-Black.ttf</string>
		<string>Urbanist-BlackItalic.ttf</string>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-BoldItalic.ttf</string>
		<string>Urbanist-ExtraBold.ttf</string>
		<string>Urbanist-ExtraBoldItalic.ttf</string>
		<string>Urbanist-ExtraLight.ttf</string>
		<string>Urbanist-ExtraLightItalic.ttf</string>
		<string>Urbanist-Italic.ttf</string>
		<string>Urbanist-Light.ttf</string>
		<string>Urbanist-LightItalic.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-MediumItalic.ttf</string>
		<string>Urbanist-Regular.ttf</string>
		<string>Urbanist-SemiBold.ttf</string>
		<string>Urbanist-SemiBoldItalic.ttf</string>
		<string>Urbanist-Thin.ttf</string>
		<string>Urbanist-ThinItalic.ttf</string>
		<string>Urbanist-Italic-VariableFont_wght.ttf</string>
		<string>Urbanist-VariableFont_wght.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>AzeretMono-Black.ttf</string>
		<string>AzeretMono-BlackItalic.ttf</string>
		<string>AzeretMono-Bold.ttf</string>
		<string>AzeretMono-BoldItalic.ttf</string>
		<string>AzeretMono-ExtraBold.ttf</string>
		<string>AzeretMono-ExtraBoldItalic.ttf</string>
		<string>AzeretMono-ExtraLight.ttf</string>
		<string>AzeretMono-ExtraLightItalic.ttf</string>
		<string>AzeretMono-Italic.ttf</string>
		<string>AzeretMono-Light.ttf</string>
		<string>AzeretMono-LightItalic.ttf</string>
		<string>AzeretMono-Medium.ttf</string>
		<string>AzeretMono-MediumItalic.ttf</string>
		<string>AzeretMono-Regular.ttf</string>
		<string>AzeretMono-SemiBold.ttf</string>
		<string>AzeretMono-SemiBoldItalic.ttf</string>
		<string>AzeretMono-Thin.ttf</string>
		<string>AzeretMono-ThinItalic.ttf</string>
		<string>Alata-Regular.ttf</string>
	</array>
</dict>
</plist>
